<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team2.slind.article.mapper.ArticleMapper">

    <resultMap id="ArticleMap" type="Article" autoMapping="true">
        <id property="articlePk" column="article_pk"/>
        <association property="articleBoard" javaType="Board">
            <id property="boardPk" column="board_pk"/>
            <result property="title" column="board_title"/>
        </association>
        <collection property="comments" javaType="List" ofType="Commnet">
            <id property="commentPk" column="comment_pk"/>
        </collection>
    </resultMap>

    <insert id="saveArticle" parameterType="Article" >
        INSERT INTO tbl_article (article_pk, board_pk, member_pk, title, article_content)
        VALUES (seq_article_pk.NEXTVAL, #{boardPk}, #{memberPk}, #{title}, #{articleContent})
    </insert>
    <select id="findCreatedArticlePk" resultType="Long">
        SELECT seq_article_pk.CURRVAL FROM DUAL
    </select>

    <select id="findByPk" resultType="Article" parameterType="Long">
        SELECT * FROM tbl_article WHERE article_pk=#{pk}
    </select>
    <select id="findRecentArticles" resultMap="ArticleMap">
        SELECT a.article_pk, a.board_pk, a.title, a.view_count, a.like_count, a.dislike_count,
        b.board_pk AS board_pk, b.title AS board_title, c.comment_pk
        FROM tbl_article a
        LEFT JOIN tbl_board b ON a.board_pk = b.board_pk
        LEFT JOIN tbl_comment c ON a.article_pk = c.article_pk
        WHERE a.article_pk IN (
        SELECT article_pk
        FROM tbl_article
        ORDER BY created_dttm DESC
        FETCH FIRST 10 ROWS ONLY
        )
    </select>
</mapper>