<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team2.slind.board.mapper.BoardMapper">
    <insert id="addBoard" parameterType="Board">
        INSERT INTO tbl_board (board_pk, member_pk, title)
        VALUES (seq_board_pk.NEXTVAL, #{memberPk}, #{title})
    </insert>
    <select id="findByBoardTitle" parameterType="string" resultType="Board">
        SELECT * FROM tbl_board WHERE title = #{title}
    </select>

    <select id="findByBoardPk" parameterType="Long" resultType="Board">
        SELECT * FROM tbl_board WHERE board_pk = #{boardPk}
    </select>

    <update id="deleteByBoardPk" parameterType="Long">
        UPDATE tbl_board
        SET is_deleted = 1, deleted_dttm = SYSDATE
        WHERE board_pk = #{boardPk}
    </update>
</mapper>