.FindPassword-body-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f6f6f6;
  overflow: auto;
}
.FindPassword-wrapper {
  width: 400px;
  height: 490px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  border: 3px solid #00b890;
  gap: 10px;
}
.FindPassword-header {
  margin-top: 20px;
  margin-bottom: 20px;
}
.FindPassword-header img {
  width: 140px;
  height: 60px;
}
.FindPassword-Id {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.FindPassword-id-input {
  width: 300px;
  height: 20px;
  border-bottom: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  background-color: #f6f6f6;
}
.FindPassword-pwdA-input {
  width: 300px;
  height: 40px;
  border-bottom: 1px solid black;
  padding: 15px;
  line-height: 20px;
  border-radius: 5px;
  background-color: #f6f6f6;
}

.FindPassword-id-input:focus,
.FindPassword-pwdA-input:focus {
  border-bottom: 1px solid #00b890;
  outline: none;
}

.FindPassword-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.FindPassword-id-warning {
  font-size: small;
}
.FindPassword-pwdQ,
.FindPassword-pwdA {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.FindPassword-bottom {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.FindPassword-check-button {
  cursor: pointer;
  padding: 5px;
  height: 40px;
  width: 80px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #00b890;
}
