.generalBoard-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  /* background-color: aqua; */
}
.generalBoard-wrapper {
  width: 1000px;
  height: 600px;
  position: relative;
  top: 120px;
  left: 280px;
  /* overflow-y: auto; */
  /* background-color: white; */
  /* border: 3px solid #00b890; */
}
.board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #f6f6f6;
}
.board-name {
  display: flex;
  align-items: center;
  gap: 5px;
}
.board-name h1 {
  font-size: 18px;
  font-weight: bold;
}
.boardButton {
  display: flex;
  gap: 20px;
}
.boardButton button {
  cursor: pointer;
  padding: 15px;
  color: white;
  background-color: #00b890;
  border: none;
  border-radius: 5px;
}

.board-item-wrapper ul {
  list-style: none;
  padding-left: 0px;
}
.board-item-content {
  flex: 1;
  height: 35px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f6f6f6;
}
.item-board-name {
  flex: 0.2;
  text-align: left;
  margin-left: 10px;
  color: gray;
  white-space: nowrap; /* 한 줄로 표시 */
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-title a {
  text-decoration: none;
  color: black;
}
.item-title {
  flex: 0.5;
  white-space: nowrap; /* 한 줄로 표시 */
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-title a:hover {
  color: #00b890;
  text-decoration: underline;
}
.item-imoji-wrapper {
  flex: 0.3;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.item-imoji-wrapper .item-imoji-content {
  /* flex: 0.25; */
  width: 70px;
  gap: 5px;
  display: flex;
  align-items: center;
}
.item-imoji-count {
  color: #a7a9ad;
}
.board-bottom-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-pagenation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sort {
  display: flex;
  align-items: center;
  gap: 20px;
}
