.mainLatestBoard-wrapper {
  position: relative;
  top: 120px;
  left: 280px;
  width: 800px;
  border-top: 1px solid #f6f6f6;
}
.board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #f6f6f6;
  margin: 20px 0;
  padding: 20px 0;
}
.board-name h3 {
  font-size: 18px;
  font-weight: bold;
}
.board-item-wrapper ul {
  list-style: none;
  padding-left: 0px;
}
.board-item-content {
  flex: 1;
  height: 35px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f6f6f6;
}
.item-board-name {
  flex: 0.2;
  text-align: left;
  margin-left: 10px;
  color: gray;
  white-space: nowrap; /* 한 줄로 표시 */
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
}
.item-board-name a {
  text-decoration: none;
  color: black;
}
.item-board-name a:hover {
  color: #00b890;
  text-decoration: underline;
}
.item-title a {
  text-decoration: none;
  color: black;
}
.item-title {
  flex: 0.5;
  white-space: nowrap; /* 한 줄로 표시 */
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-title a:hover {
  color: #00b890;
  text-decoration: underline;
}
.item-imoji-wrapper {
  flex: 0.3;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.item-imoji-wrapper .item-imoji-content {
  /* flex: 0.25; */
  width: 70px;
  gap: 5px;
  display: flex;
  align-items: center;
}
.item-imoji-count {
  color: #a7a9ad;
}
