.MyContentList-content {
  display: flex;
  height: 50px;
  align-items: center;
  border: 1px solid #f6f6f6;
}
.MyContentList-content-boardName {
  flex: 0.2;
  white-space: nowrap; /* 한 줄로 표시 */
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}
.MyContentList-content-title {
  flex: 0.5;
  white-space: nowrap; /* 한 줄로 표시 */
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}
.MyContentList-content-boardName a {
  text-decoration: none;
  color: gray;
}
.MyContentList-content-title a {
  text-decoration: none;
  color: black;
}
.MyContentList-content-boardName a:hover {
  text-decoration: underline;
  color: #00b890;
}
.MyContentList-content-title a:hover {
  text-decoration: underline;
  color: #00b890;
}
.MyContentList-content-date {
  flex: 0.2;
  color: gray;
}
.MyContentList-content-delete {
  flex: 0.1;
  display: flex;
  justify-content: center;

  align-items: center;
}
.MyContentList-content-delete button {
  cursor: pointer;
  width: 45px;
  padding: 5px;
  /* margin-left: 10px;
  margin-right: 10px; */
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}
