.Nav-wrapper {
  position: fixed;
  top: 120px;
  left: 0;
  z-index: 1;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  background-color: white;
  border-right: 4px solid #f6f6f6;
  width: 180px;
  height: 100%;
  overflow-y: auto; /* 세로 스크롤 활성화 */
}
.Nav-header {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
.Nav-header .Bookmark-icon {
  margin-top: 5px;
}
.Nav-header .Bookmark-title,
.board-title {
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
}
.Nav-search input {
  width: 160px;
  padding: 10px;
  background-color: #f6f6f6;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
}
/* .Nav-board { */
/* height: 450px; */
/* overflow-x: hidden; */
/* } */
.Nav-board-list {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
}

.Nav-board-item {
  height: 45px;

  line-height: 45px;
  text-decoration: none;
  color: black;
}

.Nav-board-item li {
  white-space: nowrap; /* 한 줄로 표시 */
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 사용자와 상호작용할 수 있는 태그만 hover가능 */
.Nav-board-item:hover {
  color: #00b890;
  text-decoration: underline;
}
