.pagenation-content {
  display: flex;
  list-style: none;
}

.pagenation-icon-button {
  background-color: transparent;
  color: gray;
  border: none;
}
.pagenation-icon-button:hover {
  color: #00b890;
  text-decoration: underline;
}

.active {
  background-color: transparent;
  color: black;
  border: none;
}
